
SOURCE_ID=192.168.9.222

SOURCE_SQLSERVER_HOST=
SOURCE_SQLSERVER_USER=
SOURCE_SQLSERVER_PASS=
SOURCE_SQLSERVER_DB=
SOURCE_SQLSERVER_PORT=
# SOURCE_SYNC_TABLES=Weld_Laser, Weld_Laser_OP, Weld_Vision_Result



SOURCE_INSERT_ONLY=false
SKIP_INITIAL_SYNC=false  #used during cutover



DST_SQLSERVER_HOST=
DST_SQLSERVER_USER=
DST_SQLSERVER_PASS=
DST_SQLSERVER_DB=
DST_SQLSERVER_PORT=


MAX_FK_DEFER_RETRIES=100000
SOURCE_BATCH_SIZE=10000
SCHEMA_CHECK_INTERVAL=5.0
TABLE_SCAN_INTERVAL=300.0
#SOURCE_EXCLUDE_TABLES=DMC_NG,scope_info,scope_info_client,QC_user,Pallet
SOURCE_KEY_OVERRIDE=Scane_Data:Station
